# This is the api prefix used in the useFetch composable function.
# The default value point to the json-server, which is started in the same time as 
# the dev server is started (see package.json "dev" script)
# @see /src/composable/useFetch.ts
# @see /json-server/db.json
# @see /json-server/config.json
VITE_PORT=3333
VITE_SOME_KEY=3333
VITE_API_BASE_URL=http://localhost:8000/api/
VITE_STORAGE_BASE_URL=http://localhost:8000/storage/
# VITE_API_BASE_URL=http://192.168.1.4:8000/api/
# VITE_API_BASE_URL=http://203.142.86.243:3131/api


# This is the mapbox api used for the map applications
# @see /src/pages/sidebar/maps-1.vue
# @see /src/pages/sidebar/maps-2.vue
VITE_MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoiY3NzbmluamEiLCJhIjoiY2toZW1nYm0zMDAxODJycXFzZ3g4cnZ6diJ9.9ebfrGREuwkauRr_afDTgA